[submodule "vendor/evil"]
	path = vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vendor/magit"]
	path = vendor/magit
	url = git://github.com/magit/magit.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "vendor/smart-tab"]
	path = vendor/smart-tab
	url = git://github.com/genehack/smart-tab.git
[submodule "vendor/evil-nerd-commenter"]
	path = vendor/evil-nerd-commenter
	url = git://github.com/redguardtoo/evil-nerd-commenter.git
[submodule "vendor/autopair"]
	path = vendor/autopair
	url = git://github.com/capitaomorte/autopair
