autosaves
auto-save-list
backups
bookmarks
*.elc
tags
TAGS
GPATH
GRTAGS
GSYMS
GTAGS
color-theme-*
ecb-*
cedet-*
tramp
/elpa/archives/ELPA/archive-contents
/elpa/archives/gnu/archive-contents
/elpa/archives/marmalade/archive-contents
elpa
ido.last
recentf
transient/